*{
    box-sizing: border-box;
}

body, h1, p, div {
    margin: 0;
    padding: 0;
}

.main-container{
    height: 89.9vh;
    width: 100vw;
    background-color: #520000;
    color: white;

    font-family: "OpenSauceRegular";
    font-size: 1.28rem;

    position: relative;
    
    display: flex;
    justify-content: center;
    
}
.text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    z-index: 1;
}

h3{

    font-family: "OpenSauceBlack";
    font-size: 1.4rem;
}

.about-title{

    font-family: "OpenSauceBlack";
    color: #f6c301;
    font-size: 2rem;
}

.profile-container{

    height: 7rem;
    width: 55vw;
    display: flex;
    border: 1px white solid;
    justify-content: space-between;
}

.profile{

    margin: 1em;
}

.citulogo-image{
    height: 89.9vh;
    width: 100vw;
    background-image: url("/public/images/citulogo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;

    opacity: 0.1;
    z-index: 0;
    position: absolute;

    
}